---
import Icon from "./Icon.astro";
---

<section class="box services">
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Mobile App Development</h2>
    <p class="link">
      I want a mobile app <Icon icon="arrow-right" size="1em" />
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Website Development</h2>
    <p class="link">
      I want a website <Icon icon="arrow-right" size="1em" />
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Consulting</h2>
    <p class="link">
      I want consulting <Icon icon="arrow-right" size="1em" />
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .services {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .services h2 {
    font-size: var(--text-lg);
  }

  .link {
    font-size: var(--text-lg);
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .link:hover {
    text-decoration: underline;
  }

  .link:active {
    color: var(--accent-regular);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .services {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .services h2 {
      font-size: var(--text-2xl);
    }
  }
</style>

<script>
  const links = document.querySelectorAll(".link");
  links.forEach((link) => {
    link.addEventListener("click", () => {
      window.location.href = "#contact-cta"; // Redirect to contact form
    });
  });
</script>
