---
import Icon from "./Icon.astro";
---

<section class="box services">
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>
      <a href="#contact-cta">Mobile App Development</a>
    </h2>
    <p>
      Creating user-friendly mobile applications that work seamlessly across
      devices.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>
      <a href="#contact-cta">Website Development</a>
    </h2>
    <p>Building responsive and engaging websites tailored to your needs.</p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>
      <a href="#contact-cta">Consulting</a>
    </h2>
    <p>Providing expert advice to help you achieve your project goals.</p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .services {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .services h2 {
    font-size: var(--text-lg);
  }

  .services a {
    text-decoration: none; /* Remove underline by default */
    color: inherit; /* Ensure the text color is inherited */
  }

  .services a:hover {
    text-decoration: underline; /* Underline on hover */
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .services {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .services h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
